body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
}



body {
    background-image: url("background image.jpg");
    background-size: cover; 
    background-position: center center; 
    background-repeat: no-repeat; 
}



